* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* .photo{
    border-radius: 50%;
    width: 200px;
    margin: 0;
    padding: 0;
} */

p {
    font-weight: 300;
    color: #111;
}

/* body{
    min-height: 1000px;
} */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(MyAssets/Header\ Bg/bg3.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 4.6em;
    color: #ff0157;
    background: linear-gradient(rgb(29, 27, 27, 0.2), rgb(147, 138, 138, 0.2));
    margin-bottom: 100px;
    border-radius: 35px;
}

.banner .content p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #ff4080;
    font-weight: 700;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    border-radius: 25px;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-left: 20px; */
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    /* no gap in header and sticky only then it will work*/
    background: rgb(255, 241, 241);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo,
header.sticky .navigation li a {
    color: #111;
}

header .logo {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 2em;
    text-decoration: none;
}

header .logo span {
    color: #e43d75;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-size: 1.2em;
    font-weight: 600;
}

header .navigation li a:hover {
    color: #ff0157;
}

/* ***************************** */
/* ********** About Me ********* */
/* ***************************** */
section {
    padding: 50px;
}

.bold {
    font-weight: 700;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.col50 .imgBx img {
    border-radius: 0 50px 0 50px;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.about .row p {
    font-weight: 500;
    font-size: 1.3em;
}

.resume {
    background-color: transparent;
    border: 2px solid #ff0157;
    border-radius: 10px;
    font-size: 1.3em;
    margin-left: 80px;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.resume:hover {
    color: white;
    border-color: white;
    background-color: #ff0157;
    box-shadow: 2px 2px 10px #ff0157;
}

.contact-link {
    text-decoration: none;
    color: #ff0157;
}

.contact-link:hover {
    color: blue;
    text-decoration: underline;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
    /* height: 100%; */
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title p {
    font-size: 1.5em;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box {
    width: 500px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    /* overflow: visible; */
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box {
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text {
    padding: 15px 0 5px;
}

.expert .content .box .text h3 {
    font-weight: 400;
    color: #111;
}


/* ********************************** */
/*             Testimonials           */
/* ********************************** */

.testimonials {
    position: relative;
    background: url(MyAssets/Testimonials/Star-Rating.webp);
    background-size: cover;
    height: 100vh;
}


.white .titleText,
.white p {
    color: #111;
    font-weight: 700;
}

/* Swiper effect  */

.testi_section {
    position: relative;
    width: 100%;
    min-height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 15px black ;
}

.swiper {
    width: 100%;
    /* height: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-wrapper .swiper-slide {
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    width: 320px;
    position: relative;
    filter: blur(8px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.swiper-wrapper .swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide .testimonialBox .details .imgBx img {
    width: 200px;
    object-fit: cover;
}

.testimonialBox {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 400px;
    position: relative;
    padding: 30px;
}

.swiper .swiper-slide .testimonialBox.active{
    background-color: rgb(0, 0, 0);
}

.testimonialBox .content p{
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 20px;
}

.testimonialBox .quote {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    opacity: 0.4;
}

.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .imgBx {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialBox .details h3 {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ff0157;
    line-height: 1.1em;
}

.testimonialBox .details h3 span {
    font-size: 12px;
    color: #666;
}


.float-btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.quill {
    background: #ff0157;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    bottom: 50px;
    right: 80px;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
}

.quill:hover {
    background-color: #ff76a4;
    /* box-shadow: 3px 3px 15px black; */
}

/* ******************************************* */
/* *******      Review Popup        ********** */
/* ******************************************* */

.model{
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 100;
    background-color: white;
    width: 500px;
    min-width: 60%;
}
/* Remember to add the class in html */
.model.active{
    transform: translate(-50% , -50%) scale(1);
}

.model-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 1.25em;
    font-weight: 700;
}

.close-button{
    padding: 2px 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25em;
    font-weight: bold;
}

.model-body{
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
}

.model-body .input{
    padding: 10px 15px;
}

.model-body .input input[type=text ] , textarea{
    width: 100%;
    padding: 10px 15px;
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    border-radius: 8px;
    /* resize: none; */
}

.submitInput{
    text-align: center;
}

#submit{
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(56, 231, 56);
    outline: none;
    border: 1px solid green;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.5s;
}

#submit:hover{
    box-shadow: 2px 3px 10px green;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* To enable background clicking when it is active  */
    pointer-events: none;
    z-index: 10;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.contact {
    background: url(MyAssets/Contact/Mail.webp);
    background-size: cover;
}

.contact .title .titleText,
.contact .title p {
    color: white;
    font-weight: 700;
}

.formContainer {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
/* .contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
} */

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox textarea,
.contactForm .inputBox input {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    resize: none;
    font-size: 16px;
    font-weight: 300;
}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: rgb(215, 215, 215);
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}


/* ************************************* */
/* ********** Toggled List ************* */
/* ************************************* */

.msgSent h3{
    text-align: center;
    color: rgb(54, 217, 54);
    font-weight: 600;
    font-size: 2em;
}

.msgSent{
    text-align: center;
    transition: 0.8s;
}
.msgSent img{
    border-radius: 20px;
    width: 200px;
}

.fadeAway{
    transition: 0.5s;
    opacity: 0;
}
/* ************************************* */

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.copyrightText p {
    color: #333;
}

@media (max-width: 1400px) {
    .testimonials{
        height: 110vh;
    }
}

@media (max-width: 991px) {

    .banner .content h2 {
        margin-bottom: 0;
    }

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgb(255, 255, 255);
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        text-decoration: none;
        color: #111;
        font-size: 2em;
        font-weight: 300;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(MyAssets/menu.webp);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    /* No space */
    .menuToggle.active {
        background: url(MyAssets/close.webp);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    /* About  */


    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin-top: 10px;
        width: 400px;
    }

    .menu .content .box .imgBx {
        width: 320px;
    }

    .title {
        text-align: center;
    }

    .titleText {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }


    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }


    /* Testimonials */
    .testimonials {
        padding: 0;
        background-size: 800px;
        padding-bottom: 50px;
    }

    .quill {
        bottom: 10px;
    }

    /* Review Popup */

    .model{
        width: 300px;
    }

}

@media (max-width:480px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }

    .testimonials{
        padding: 0;
        height: 110vh;
    }
    .testimonialBox{
        padding: 10px;
        padding-top: 30px;
    }
    .testi_section {
        margin: auto;
        padding-bottom: 20px;
        width: 350px;
        height: 450px;
    }

    .swiper{
        height: 100%;
    }

    .swiper-wrapper .swiper-slide{
        width: 80%;
        filter: blur(0px);
    }

    .formContainer{
        padding: 10px;
    }
}